@use 'variables' as *;
@use 'mixins' as *;

.features {
  @include container;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  column-gap: 88px;
  padding-top: 24px;
  padding-bottom: 48px;

  &__item {
    display: grid;
    justify-items: center;
    text-align: center;
    row-gap: 14px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    stroke: $color-white;
    fill: none;
    stroke-width: 1.2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__text {
    max-width: 250px;
    font-size: 16px;
    line-height: 1.45;
    color: $color-white;
  }
}
