// В форматі sass необхідно НЕ писати "{}" і ";"
// Табуляція для вкладеності відіграє важливу роль для компіляції коду!
.card
    border: 2px solid #ccc
    border-radius: 20px
    padding: 20px
    width: 400px
    h4
        text-transform: uppercase
    &:hover 
        background: #ddd
        & p
            text-decoration: underline